In [1]:
import pandas as pd 
residuals_df = pd.read_csv('../data/worst_residuals.csv')
model_input_df = pd.read_csv('../data/model_input.csv')

In [2]:
print(residuals_df.describe())
print(residuals_df.info())

             actual     predicted         error     abs_error
count  5.000000e+01  5.000000e+01  5.000000e+01  5.000000e+01
mean   1.861790e+06  5.963513e+05  1.265439e+06  1.265439e+06
std    3.929209e+05  3.164423e+05  3.268822e+05  3.268822e+05
min    1.252397e+06  7.513244e+04  9.490241e+05  9.490241e+05
25%    1.596404e+06  4.253942e+05  1.026062e+06  1.026062e+06
50%    1.762526e+06  5.923678e+05  1.146916e+06  1.146916e+06
75%    2.039128e+06  7.056909e+05  1.410792e+06  1.410792e+06
max    2.988275e+06  1.681026e+06  2.273522e+06  2.273522e+06
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   actual     50 non-null     float64
 1   predicted  50 non-null     float64
 2   error      50 non-null     float64
 3   abs_error  50 non-null     float64
dtypes: float64(4)
memory usage: 1.7 KB
None

#### **Merge on Index:**

In [3]:
# Join residuals and feautres using index 
merged_df = model_input_df.loc[residuals_df.index].copy()

# Add error columns back in 
merged_df['actual'] = residuals_df['actual']
merged_df['predicted'] = residuals_df['predicted']
merged_df['error'] = residuals_df['error'] 
merged_df['abs_error'] = residuals_df['abs_error']

## Explore Patterns That Caused Huge Errors

#### **Top 10 Highest-Error Cases**:

In [4]:
merged_df.sort_values('abs_error', ascending=False).head(10)

,gender_encoded,age_group_encoded,severity_encoded,admission_encoded,payment_type_encoded,diagnosis_encoded,procedure_encoded,county_encoded,los,total_charges,actual,predicted,error,abs_error
0,0,2,1,3,1,1,3,3,1,25755.90,2466405.08,1.928834e+05,2.273522e+06,2.273522e+06
1,1,4,2,3,2,1,3,3,2,23225.70,2845109.91,7.785878e+05,2.066522e+06,2.066522e+06
2,0,4,2,3,2,1,1,26,14,163529.24,2290173.54,2.265708e+05,2.063603e+06,2.063603e+06
3,1,3,3,3,1,1,1,14,3,23642.28,2566009.88,6.062019e+05,1.959808e+06,1.959808e+06
4,1,3,3,3,1,1,3,49,4,49812.00,1977082.18,2.035756e+05,1.773507e+06,1.773507e+06
5,0,3,2,3,1,1,3,41,3,20681.52,2293346.14,5.502212e+05,1.743125e+06,1.743125e+06
6,0,3,1,3,2,1,6,27,5,66834.27,2133941.10,4.975882e+05,1.636353e+06,1.636353e+06
7,1,4,2,3,2,1,6,41,13,137826.64,1809189.61,2.366658e+05,1.572524e+06,1.572524e+06
8,0,2,1,3,3,1,6,26,3,52778.18,2619076.83,1.083091e+06,1.535986e+06,1.535986e+06
9,1,3,2,3,0,1,6,27,5,27436.42,2162291.22,6.990567e+05,1.463235e+06,1.463235e+06

#### **Summary Stats  for Length of Stay (LOS) on Worst Predictions:**

In [ ]:
merged_df['los'].describe()

count    50.000000
mean      6.940000
std       6.412392
min       1.000000
25%       3.000000
50%       5.000000
75%       9.500000
max      36.000000
Name: los, dtype: float64

#### **Count How Often Each Diagnosis Appears in the Worst Residuals:**

In [ ]:
merged_df['diagnosis_encoded'].value_counts()

# Frequency of all diagnosis codes
model_input_df["diagnosis_encoded"].value_counts().head(10)

diagnosis_encoded
137    224342
241    110942
167     67235
150     54134
12      50444
67      49629
221     45668
177     42980
238     42117
56      42097
Name: count, dtype: int64

In [12]:
hernia_cases = model_input_df[model_input_df["diagnosis_encoded"] == 1]
non_hernia = model_input_df[model_input_df["diagnosis_encoded"] != 1]

print("Hernia cases:")
print(hernia_cases["total_charges"].describe())

print("\nNon-hernia cases:")
print(non_hernia["total_charges"].describe())

Hernia cases:
count    1.220900e+04
mean     5.143642e+04
std      7.153813e+04
min      3.210000e+02
25%      2.147497e+04
50%      3.409970e+04
75%      5.706455e+04
max      1.972824e+06
Name: total_charges, dtype: float64

Non-hernia cases:
count    2.329345e+06
mean     4.512342e+04
std      7.560963e+04
min      1.000000e-02
25%      1.264225e+04
50%      2.480900e+04
75%      4.924308e+04
max      4.795126e+06
Name: total_charges, dtype: float64