In [ ]:
import pandas as pd 
df = pd.read_csv('../data/model_input.csv')

In [21]:
print(df.shape)
print(df.dtypes)
print(df.isna().sum())
df.describe()
df.head()

(2341554, 4)
gender_encoded         int64
age_group_encoded      int64
severity_encoded       int64
total_charges        float64
dtype: object
gender_encoded       0
age_group_encoded    0
severity_encoded     0
total_charges        0
dtype: int64

   gender_encoded  age_group_encoded  severity_encoded  total_charges
0               0                  3                 3       37094.14
1               0                  4                 1       18864.80
2               0                  4                 2       54075.27
3               1                  4                 3       34920.03
4               0                  3                 1       12820.52

**Define Features & Target**

In [22]:
X = df.drop('total_charges', axis=1) # --> Features
y = df['total_charges'] # --> Target

**Train-test split**

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)